// Place all the styles related to the entier site here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.sidebar {
  float: left;
  width: 20%;
  height: 500px;
  // border: 1px red dotted;
} 

.main {

}

label {
    display: block;
    margin: 0.2em 0;
}

input[type="submit"] {
    margin: 1em 0;
}
